#ot_twitter_update {
	  position: relative;
	  }
#ot_twitter_box {
	 position: fixed;
    top: 100px;
}

#ot_img {
    border: 0 none;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 10000;
}

.left0 {
	z-index: 101009 !important;
	left: 0 !important;
}
.right0 {
	z-index: 101009 !important;
	right: 0 !important;
}